*{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    align-content: space-around;
}
.top-page{
    display: flex;
    border:2px solid purple;
    background-color: #1f2937;
}
.container{
    border:2px solid maroon;
}
.quote-container {
    border:2px solid teal;
}
.signup-container{
    border:2px solid forestgreen;
}
.footer {
    border:2px solid red;
}
.header {
    border:2px solid fuchsia;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    border:2px solid lime;
    display: flex;
    justify-content: space-around;
    margin-left: 13%;
    font-size: 24px;
    color:#F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}
.head-links {
    border:2px solid peachpuff;
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}
.links {
    border:1px solid blue;
    padding:8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color:#e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.head-list{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border:2px solid firebrick;
    width: 300px;
}
.title-container {
    border:1px solid pink;
    display: flex;
    flex-direction: row;
}
.title {
    margin-top: 100px;
    border:2px solid royalblue;
    margin-left: 20%;
    margin-right:15%;
    font-size: 48pt;
    font-weight:bolder;
    color:#F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}
.title-img {
    border:2px solid burlywood;
    margin-right: 15%;
    flex:1 0 auto;
    margin-left: -5%;
    margin-top: 75px;
    margin-bottom: 75px;
}
.info-container {
    border:2px solid blueviolet;
    flex:2 1 auto;
}
.subtext{
    color:#f9faf8d7;
    margin-left: 20%;
    margin-right: 15%;
    text-align: justify;
}
.signup{
    width:100px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: auto;
}
button {
    background-color: #3882F6;
    color:azure;
    border:2px outset rgb(127, 154, 206);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 12%;
    font-size: 12pt;
}
.container {
    border:2px solid salmon;
}
.content-container {
    border: 2px solid orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:820px;
    margin:auto;
}
.content {
    width: 150px;
    height: 200px;
    border: 4px solid #0d56cc;
    border-radius:22%;
    align-items: center;
    text-align: center;
}
.subheading {
    text-align: center;
    border: 2px solid rebeccapurple;
    font-size: 36pt;
    font-weight: bolder;
    margin:20px;
    color:#1f2937;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;

}
