*{
    /* display: flex;*/
    flex-direction: column;
    align-items:stretch;
}
.top-page{
    display: flex;
    background-color: #1f2937;
}
.quote-container {
    background-color:#E5E7EB;
    height: 360px;
}
.quote {
    padding-top: 5%;
    padding-left: 75px;
    padding-right: auto;
    width:55%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    color:#1f2937;
    font-size: 36px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.author{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:150px;
    margin-right:20%;
    margin-left:60%;
    margin-top:-40px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 13pt;
}
.footer {
    background-color: #1f2937;
    color: #b8b9bb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-around;
    margin-left: 13%;
    font-size: 24px;
    color:#F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
.color-code:hover {
    color:rgb(0, 101, 217);
    cursor:default;
}
.color-name:hover{
    color:rgb(25, 100, 25);
    cursor:default;
}
.color-kids:hover{
    color:rgb(181, 19, 19);
    cursor:default;
}
.head-links {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}
.links {
    padding:6px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color:#e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    list-style-type: none;
    cursor: pointer;
}
.links:hover {
    color:lightskyblue;
    font-size: 19px;
}
.head-list{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.title-container {
    display: flex;
    flex-direction: row;
    width:100%;

}
.title {
    margin-top: 100px;
    margin-left: 20%;
    margin-right:15%;
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    min-width: fit-content;
    min-inline-size: 520px;

}
.title-img {
    display: flex;
    margin-right: 15%;
    flex:1 0 auto;
    margin-left: -5%;
    margin-top: 75px;
    margin-bottom: 75px;
    flex-wrap: wrap;
}
.info-container {

    flex:2 1 auto;
}
.subtext{
    color:#f9faf8d7;
    margin-left: 20%;
    margin-right: 15%;
    text-align: justify;
    
}
.signup-top{
    width:100px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 60px;
}
.imgtitle{
    border:4px outset burlywood;
    border-radius: 10px;
    position: relative;
    min-block-size: 300px;
}
.signup{
    width:100px;
    height:auto;
    margin-right: 6%;
}
.signup-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 140px;
    background-color: #3882F6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;

}
.signup-section{
    color:Azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height:60px;
    width: 60%;
    text-align: center;
    
}
button {
    background-color: #3882F6;
    color:azure;
    border:2px outset rgb(230, 235, 244);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    border-radius: 12%;
    font-size: 12pt;
    height: 30px;
    width: 100px;
}
button:hover {
    border:2px inset rgb(230, 235, 244);
    background-color: #1c72fd;
}
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:70%;
    min-width: 880px;
    margin:auto;
}
.content {
    width: 200px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.content-img{
    border:4px outset lightgray;
    border-radius: 8px;
    width: 200px;
}
span#cont-head.content-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #0e3264;
    margin: 20px;
    cursor: default;
   
}
span#cont-head.content-heading:hover {
    color:rgb(185, 143, 3);
    text-decoration: underline;

}
.appearing {
    animation:
}
.subheading {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin:20px;
    margin-top: 60px;
    color:#1f2937;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px rgb(115, 114, 114);
}
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 4px outset lightgray;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,0.7948815979933376) 0%, rgba(137, 137, 137, 0.815) 46%, rgba(45,45,45,0.8177242375872462) 100%); ; 
    color: whitesmoke;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    transform: rotateY(180deg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  } 
  h4.card-head {

    text-align: center;
    text-transform: capitalize;
    font-size: 14pt;
    font-weight: 600;
  }
  p.card-label {
    padding:5px;
    font-size: 12pt;
  }